
body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  font-size: 16px;
  /* background-color: #f4f4f9; */

}

body {
  font-family: Arial, sans-serif;
}

.user-info {
  position: relative;
}

.dropdown {
  cursor: pointer;
  margin-left: 5px;
}

.dropdown-menu {
  left: auto;
  right: 0;
  min-width: 100%;
  display: none;
  position: absolute;
  background-color: #8a2a56;
  border-radius: 5px;
  z-index: 1;
}

.user-info:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.header {
  background-image: url("enlarged_image.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 15px 20px;
}


.logo {
  font-size: 24px;
}

.header-title {
  font-size: 25px;
}

.main-content {
  padding: 10%;
  padding-top: 100px;
}

.filters {
  padding: 10px;
  background-color: rgb(90, 58, 110);
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente */
}

.search-bar,
.filter {
  padding: 8px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;

  flex: 1; /* Ocupa todo el espacio disponible */
  margin-right: 10px;
}

/* Crear */
.create-btn-section{
  text-align: right;
  margin-bottom: 20px;
}

.create-btn {
  background-color: rgb(138, 42, 86);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 40px;

}

.create-btn-text{
  display: flex;
  justify-content: center;
}

.create-btn:hover {
  background-color: rgb(230, 52, 69);
}
/* ------ */

.table-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;  /* Bordes se colapsan en uno */
}

table th,
table td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f4f4f9;
}

.status {
  /* font-weight: bold; */
}

.status.approved {
  color: green;
}

.status.rejected {
  color: rgb(194, 0, 0);
}

.status.in-review {
  color: rgb(0,0,0);
}

.status.requires-details {
  color: rgb(0, 0, 219);
}
